<div class="container m-auto p-6">
<p id="notice"><%= notice %></p>

<h1 class="text-2xl font-bold"><%= @article.title %></h1>

<p class="content py-4">
  <%= @article.body %>
</p>

<p>
  <strong>Score:</strong>
  <%= @article.score %>
</p>
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Upvote', upvote_article_path(@article), method: :post  %> |
<%= link_to 'Downvote', downvote_article_path(@article), method: :post %> |
<%= link_to 'Back', articles_path %>
</div>
